<html>
  <head>
    <title><% title %> </title>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <h2>Aktuelle aktiviteter</h2>
    <ul id="container"></ul>
      <script src="socket.io/socket.io.js"></script>
      <script src="../static/js/client.js"></script>
</body>
</html>