<html>
  <head>
    <title><% title %> </title>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <h2 class="headline">Aktuelle aktiviteter</h2>
    <div id="class-container"></div>

    <div class="main-container">
    <div class="map">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 862 289" style="enable-background:new 0 0 862 289;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
        .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
      </style>
      <g id="topfloor">
        
          <rect id="outlin_e" x="23.93" y="20" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 862.8624 285)" class="st0" width="815" height="245"/>
          <rect id="n226" x="759.93" y="136" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1598.9312 401)" class="st1" width="79.07" height="129"/>
          <rect id="n228" x="633.93" y="20" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1472.8027 119)" class="st1" width="204.94" height="79"/>
          <rect id="n230" x="507.93" y="20" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1141.8823 119)" class="st1" width="126.02" height="79"/>
          <rect id="n231" x="458.93" y="20" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 966.8191 119)" class="st1" width="48.96" height="79"/>
          <rect id="n231b" x="409.83" y="19.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 868.6115 88)" class="st1" width="48.96" height="49"/>
          <rect id="n234" x="372.43" y="19.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 782.2587 88)" class="st1" width="37.4" height="49"/>
          <rect id="n235" x="335.43" y="19.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 708.2587 88)" class="st1" width="37.4" height="49"/>
          <rect id="n236" x="285.43" y="19.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 621.2587 118)" class="st1" width="50.4" height="79"/>
        <polygon id="n237" class="st1" points="235.43,56.5 235.43,19.5 285.83,19.5 285.83,98.5 249.43,98.5 249.43,56.5 	"/>
        <polygon id="n237a" class="st1" points="249.43,56.5 249.43,98.5 185.43,98.5 185.43,19.5 235.43,19.5 235.43,56.5 	"/>
          <rect id="n238" x="135.43" y="19.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 321.2586 118)" class="st1" width="50.4" height="79"/>
          <rect id="n239" x="24.43" y="19.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 160.2586 118)" class="st1" width="111.4" height="79"/>
          <rect id="n231c" x="434.43" y="68.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 893.2587 168)" class="st1" width="24.4" height="31"/>
          <rect id="n231a" x="409.43" y="68.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 843.2587 168)" class="st1" width="24.4" height="31"/>
          <rect id="n232" x="385.43" y="68.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 795.2587 168)" class="st1" width="24.4" height="31"/>
          <rect id="n217" x="383.43" y="136.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 791.2587 305)" class="st1" width="24.4" height="32"/>
          <rect id="n216" x="359.43" y="136.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 743.2587 305)" class="st1" width="24.4" height="32"/>
          <rect id="n212" x="259.43" y="136.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 569.2587 305)" class="st1" width="50.4" height="32"/>
          <rect id="_x32_11a" x="233.43" y="126.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 493.2586 295)" class="st1" width="26.4" height="42"/>
          <rect id="n211" x="185.43" y="126.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 419.2586 295)" class="st1" width="48.4" height="42"/>
          <rect id="n210" x="158.43" y="135.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 343.2586 304)" class="st1" width="26.4" height="33"/>
          <rect id="n210b" x="131.43" y="135.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 289.8623 304)" class="st1" width="27" height="33"/>
          <rect id="n225" x="684.93" y="168" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1444.5913 433)" class="st1" width="74.73" height="97"/>
          <rect id="n224a" x="734.43" y="127.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1494.0913 295.5)" class="st1" width="25.23" height="40.5"/>
          <rect id="n224" x="709.43" y="127.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1444.0913 295.5)" class="st1" width="25.23" height="40.5"/>
          <rect id="n223" x="633.93" y="168" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1318.5913 433)" class="st1" width="50.73" height="97"/>
          <rect id="n221" x="558.93" y="168" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1192.5913 433)" class="st1" width="74.73" height="97"/>
          <rect id="n219" x="483.43" y="136.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1042.0913 401.5)" class="st1" width="75.23" height="128.5"/>
          <rect id="n218" x="407.43" y="136.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 891.0913 401.5)" class="st1" width="76.23" height="128.5"/>
          <rect id="n215" x="335.43" y="168.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 743.0913 433.5)" class="st1" width="72.23" height="96.5"/>
          <rect id="n215a" x="233.43" y="168.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 569.0913 433.5)" class="st1" width="102.23" height="96.5"/>
          <rect id="n214" x="157.43" y="168.5" transform="matrix(-1 2.385835e-14 -2.385835e-14 -1 391.0913 433.5)" class="st1" width="76.23" height="96.5"/>
          <rect id="n214a" x="131.43" y="168.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 289.0913 433.5)" class="st1" width="26.23" height="96.5"/>
          <rect id="n209" x="23.43" y="135.5" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 154.8624 400.5)" class="st1" width="108" height="129.5"/>
      </g>
      </svg>
    
    <svg version="1.1" id="bottomfloor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 1000 298" style="enable-background:new 0 0 1000 298;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
      .st1{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
    </style>
    <rect id="outline" x="17.5" y="26.5" transform="matrix(-1 1.653892e-15 -1.653892e-15 -1 1000.004 297.9956)" class="st0" width="965" height="245"/>
    <rect id="n116" x="935" y="202" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1916.9583 472.9956)" class="st1" width="46.95" height="69"/>
    <rect id="n114" x="783" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1718.0255 412.9956)" class="st1" width="152.02" height="131"/>
    <rect id="n113a" x="732" y="190" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1514.9794 461.9956)" class="st1" width="50.98" height="82"/>
    <rect id="n113" x="576" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1308.1106 412.9956)" class="st1" width="156.11" height="131"/>
    <rect id="n112b" x="475" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1050.8184 412.9956)" class="st1" width="100.81" height="131"/>
    <rect id="n112c" x="395" y="136" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 817.8183 302.9956)" class="st1" width="27.81" height="31"/>
    <rect id="n112a" x="348" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 720.8183 299.9956)" class="st1" width="24.81" height="18"/>
    <polygon id="n112d" class="st1" points="423,167 423,136 472,136 472,141 474.81,141 474.81,167 "/>
    <polygon id="n112" class="st1" points="272,272 272,172 348,172 348,159 395,159 395,167 475,167 475,219 474.81,219 474.81,272 "/>
    <rect id="n115" x="935.07" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1917.0927 342.9956)" class="st1" width="46.95" height="61"/>
    <rect id="n117" x="885" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1867.0585 128.9956)" class="st1" width="97.05" height="77"/>
    <rect id="n118" x="834" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1718.9917 128.9956)" class="st1" width="50.99" height="77"/>
    <rect id="n119" x="732" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1566.0327 128.9956)" class="st1" width="102.03" height="77"/>
    <rect id="n120" x="577" y="26" transform="matrix(-1 1.142385e-14 -1.142385e-14 -1 1308.9561 128.9956)" class="st1" width="154.95" height="77"/>
    <rect id="n121" x="424" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1001.0882 128.9956)" class="st1" width="153.08" height="77"/>
    <rect id="n122" x="321.68" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 745.685 128.9956)" class="st1" width="102.32" height="77"/>
    <rect id="trappe" x="271" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 593.004 128.9956)" class="st1" width="51" height="77"/>
    <rect id="n125" x="220" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 491.004 97.9934)" class="st1" width="51" height="46"/>
    <rect id="n124" x="220" y="72.03" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 491.008 175.0208)" class="st1" width="51" height="30.97"/>
    <rect id="n126" x="119" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 339.004 128.9956)" class="st1" width="101" height="77"/>
    <rect id="n127" x="18" y="26" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 137.004 128.9956)" class="st1" width="101" height="77"/>
    <rect id="room2" x="18" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 113.004 412.9956)" class="st1" width="77" height="131"/>
    <rect id="room1" x="94" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 265.004 412.9956)" class="st1" width="77" height="131"/>
    <rect id="n111a" x="171" y="141" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 443.004 412.9956)" class="st1" width="101" height="131"/>
    </svg>
    </div>
    <div class="player" id="player"></div>
    <div id="news" class="news"></div>
    </div>

  <script src="socket.io/socket.io.js"></script>
  <script src="http://www.youtube.com/player_api"></script>
  <script src="../static/js/client.js"></script>
</body>
</html>