<html>
  <head>
    <title><% title %> </title>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <h2 class="headline">Aktuelle aktiviteter</h2>
    
    <div class="main-container">
    <div id="map" class="map"></div>
        
    <div class="player video" id="player"></div>
    <div id="news" class="news"></div>
    </div>

  <script src="socket.io/socket.io.js"></script>
  <script src="http://www.youtube.com/player_api"></script>
  <script src="../static/js/client.js"></script>
</body>
</html>