<html>
  <head>
    <title><% title %> </title>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <h2 class="headline">Aktuelle aktiviteter</h2>
    
    <div class="main-container">
    <div id="map" class="map"></div>
        
    <div class="player video" id="player"></div>
    <div id="news" class="news"></div>
    </div>

    <section id="infograph">
      <div><div class="colordot1"></div></div>
      <div>1</div>

      <div><div class="colordot2"></div></div>
      <div>2</div>

      <div><div class="colordot3"></div></div>
      <div>3</div>

      <div><div class="colordot4"></div></div>
      <div>4</div>

      <div><div class="colordot5"></div></div>
      <div>5</div>

    </section>

  <script src="socket.io/socket.io.js"></script>
  <script src="http://www.youtube.com/player_api"></script>
  <script src="../static/js/client.js"></script>
</body>
</html>